name: Scopes Nightly
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 0"
jobs:
  linux:
    runs-on: ubuntu-22.04
    outputs:
      revision: ${{ steps.revision.outputs.scopes-revision }}
    steps:
      - id: revision
        run: |
          echo "::set-output name=scopes-revision::$(hg identify https://hg.sr.ht/~duangle/scopes/)"
      - name: Install build dependencies
        run: sudo apt install mkdocs python3-pip libtinfo5
      - name: Build
        run: |
          curl https://hg.sr.ht/~duangle/majoreo/raw/eo | python3 - init majoreo && ./bin/eo import scopes
          ./bin/eo install -y scopes-source-unstable
          # patch genie recipe
          wget "https://raw.githubusercontent.com/ScopesCommunity/scopes-unstable/main/workarounds/genie.eo" -O ./external/recipes/genie.eo
          ./build.sh
          rm ./bin/eo
          tar -czf scopes-unstable-linux-${{ steps.revision.outputs.scopes-revision }}.tar.gz bin/ doc/ include/ lib/ testing/ CREDITS.md LICENSE.md
      - name: Distribution Artifact
        uses: actions/upload-artifact@v3
        with:
          name: scopes-unstable-linux-${{ steps.revision.outputs.scopes-revision }}
          path: scopes-unstable-linux-${{ steps.revision.outputs.scopes-revision }}.tar.gz
      - name: Standalone Documentation
        uses: actions/upload-artifact@v3
        with:
          name: scopes-unstable-docs-${{ steps.revision.outputs.scopes-revision }}
          path: doc/
  windows:
    runs-on: windows-latest
    needs: linux
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - uses: msys2/setup-msys2@v2
      - name: Install build dependencies
        run: pacman -S --noconfirm make mingw64/mingw-w64-x86_64-python mingw64/mingw-w64-x86_64-python-pip zip unzip mingw64/mingw-w64-x86_64-gcc mingw64/mingw-w64-x86_64-libxml2
      - name: Build
        run: |
          wget "https://hg.sr.ht/~duangle/majoreo/raw/eo" -O ./eo
          chmod +x ./eo
          ./eo init
          ./eo import scopes
          ./eo install -y scopes-unstable
      - name: Cleanup
        run: |
          rm -f ./bin/eo ./bin/genie.exe
      - run: zip -r scopes-unstable-windows-${{ needs.linux.outputs.revision }}.zip bin/ doc/ include/ lib/ testing/ CREDITS.md LICENSE.md
      - name: Distribution Artifact
        uses: actions/upload-artifact@v3
        with:
          name: scopes-unstable-windows-${{ needs.linux.outputs.revision }}
          path: scopes-unstable-windows-${{ needs.linux.outputs.revision }}.zip
